img {
    width: 300px;
    padding: 10px;
    border: 5px solid #A2D9CE;
    margin: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 100px;
    border-radius: 15px; */
}

@media screen and (max-width: 800px) {
    .flex-item {
      font-size: 75%;
    }
  
    img {
      width: 100%;
      min-width: 250px;
    }
   }