body {
  margin: 30px;
  text-align: center;
  color: #A2D9CE;
  font-size: 20px;
}
#email {
  cursor: alias;
  color: inherit;
}
h1:hover {
  color: blue;
  text-decoration:underline blue;
}

section {
  width: 100%;
}

.row {
  display: flex;
  padding: 0 4px;
}

.column {
  -ms-flex: 33%; 
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

.column img {
  margin: 5%;
  width: 100%;
  object-fit: cover;
  border: 5px solid #A2D9CE;
}
img:hover {
  border-radius: 30%;
  filter: brightness(118%);
  transform: scale(1.3);
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, black); 
  border-radius: 60px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#A2D9CE); 
}

footer:hover {
  color: black;
}