img {
    width: 100px;
    height: 100px;
    position: relative;
    padding: 10px;
    border: 2px solid #A2D9CE;
    margin: 10px;
    border-style: outset;
    /* overflow: hidden; */
}
img:hover {
    /* filter:grayscale(100%); */
    filter: brightness(120%);
    transform: scale(1.6);
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 200px;
    grid-gap: 10px;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1000px) {
    .images {
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .images {
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 500px) {
  .images {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 350px) {
  .images {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}